@import "ember-power-select/variables";

$power-select-search-input-height: calc(2.25rem + 2px) !default;
$ember-model-select__spinner-color: #007bff !default;
$ember-model-select__spinner-opacity: 0.1 !default;
$ember-model-select__spinner-duration: 1s !default;

@keyframes ember-model-select-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ember-model-select__dropdown {
  .infinity-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    overflow: hidden;
  }
}

.ember-model-select__spinner {
  position: relative;
  z-index: 2001;
  height: 16px;
  width: 16px;
  stroke: $ember-model-select__spinner-color;

  animation: ember-model-select-spin $ember-model-select__spinner-duration infinite linear;

  circle {
    stroke-opacity: $ember-model-select__spinner-opacity;
  }
}

.ember-model-select {
  position: relative;

  > .ember-model-select__loading {
    position: absolute;
    right: 1px;
    top: 1px;
    height: calc(100% - 2px);
    padding: 0 15px;
    background: #FFF;
    border-radius: 0 ($ember-power-select-trigger-default-border-radius - 1px) ($ember-power-select-trigger-default-border-radius - 1px) 0;

    display: flex;
    align-items: center;
  }
}
