<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<div style="width: 20rem">
  <h5>Selected user:</h5>
  <p>
    {{#if user}}
      {{user.name}}
    {{else}}
      <i>No user selected.</i>
    {{/if}}
  </p>

  {{model-select
    modelName='user'
    selectedModelId=user.id
    labelProperty='name'
    searchProperty='filter'
    searchKey='search'
    query=customQuery

    totalPagesParam='meta.pages'
    countParam='meta.total'

    onChange=(action (mut user))
  }}
</div>