<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<div style="width: 20rem">
  <h3>Single select</h3>

  {{model-select
    modelName="user"
    selectedModel=user
    labelProperty="name"
    searchProperty="filter"
    searchKey="search"
    query=customQuery
    totalPagesParam="meta.pages"
    onChange=(action (mut user))
  }}
</div>

<div style="width: 20rem">
  <h3>Multiple select</h3>

  {{model-select-multiple
    modelName="user"
    selectedModel=users
    labelProperty="name"
    searchProperty="filter"
    searchKey="search"
    query=customQuery
    totalPagesParam="meta.pages"
    onChange=(action (mut users))
  }}
</div>